<div class="container-fluid" style="padding-bottom: 100px;">
  <div class="d-flex flex-column align-items-center">

      <div class="card mt-4 mb-1" style="width: 600px;">
        <div class="card-header">
          app-button
        </div>
        <div class="card-body">
          <app-button class="mx-1 my-1">primary</app-button>
          <app-button class="mx-1 my-1" [disabled]="true">primary(disabled)</app-button>
          <app-button class="mx-1 my-1" color="secondary" (buttonClick)="alert('button click!')">secondary</app-button>
          <app-button class="mx-1 my-1" color="success">success</app-button>
          <app-button class="mx-1 my-1" color="danger">danger</app-button>
          <app-button class="mx-1 my-1" color="warning">warning</app-button>
          <app-button class="mx-1 my-1" color="info">info</app-button>
          <app-button class="mx-1 my-1" color="light">light</app-button>
          <app-button class="mx-1 my-1" color="dark">dark</app-button>
          <app-button class="mx-1 my-1" color="link">link</app-button>
        </div>
      </div>

      <div class="card my-1 mx-1" style="width: 600px;">
        <div class="card-header">
          app-text-input
        </div>
        <div class="card-body">
          <app-text-input [formControl]="textInputFormControl"></app-text-input>
        </div>
      </div>

      <div class="card my-1 mx-1" style="width: 600px;">
        <div class="card-header">
          app-user-info
        </div>
        <div class="card-body">
          <app-button color="success" class="my-1 mx-1" (buttonClick)="userName='JiaHongL'">Joe</app-button>
          <app-button color="secondary" class="my-1 mx-1" (buttonClick)="userName='getify'">Kyle Simpson</app-button>

          <app-user-info [userName]="userName"></app-user-info>
        </div>
      </div>

  </div>
</div>
